.section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--blue-color);
}

.section_main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing--40);
}

.section_main__div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing--40);
    transform: rotate(180deg);
}

svg[class~=section_main__svg]> path{
    fill: var(--blue-color);
    stroke-width: 3px;
    stroke: var(--yellow-color);
    opacity: 0.1;
}

svg > path{
    fill: var(--blue-color);
    stroke-width: 3px;
    stroke: var(--yellow-color);
    opacity: 1;
}

.section_main__svg{
    font-size: 10rem ;
}

.section_main__svg-result1{
    transform: rotate(180deg);
}

.section_main__p {
    font-size: var(--font-60);
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
}


.section_main__article2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing--40);
}

.section_main__div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing--40);
}
